.sticky{
    top: 0;
    z-index: 1;
}
.myNav{
    justify-content: flex-start;
}
.myicon{
    display: none;
    border:2px solid rgba(255, 255, 255, 0.55);
    border-radius: 4px;
    padding : 0 4px;
    margin: 6px 0;
    text-align: center;
}
.options{
    display: none;
    position: absolute;
    right: 0px;
    top: 56px;
    background-color:#212529;
}
.options a{
    width: fit-content;
}

@media screen and (max-width:992px) {
    .myNav a{
        display: none;
    }
    .myicon{
        display: block;
    }
}